@import "src/scss/main";


.SignUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .account_nav_container {
    align-self: flex-end;
    margin-right: 50px;
    margin-top: 37px;
    display: flex;
    flex-direction: column;

    .account {
      display: flex;
      align-self: flex-end;

      .account_el {
        text-decoration: none;
        color: $light-grey;
        padding: 18px 15px;
        font-size: 14px;
        transition: 0.2s;
        border: 0.75px solid white;
        cursor: pointer;

      }

      .account_el:hover {
        border: 0.75px solid $my-yellow;
        transform: scale(1.05);
      }
    }

    .nav {
      display: flex;
      align-self: flex-end;

      .nav_el {
        text-decoration: none;
        color: $dark-grey;
        font-size: 18px;
        padding: 21px 15px;
        transition: 0.2s;
        border: 0.75px solid white;
        cursor: pointer;


      }

      .nav_el:hover {
        border: 0.75px solid $dark-grey;
        transform: scale(1.05);
      }
    }
  }

  .SignUp_container {
    margin-top: 123px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 503px;

    .title {
      font-size: 40px;
      color: $dark-grey;
    }

    .deco {
      background-position: center;
      margin-top: 25px;
      height: 33px;
      width: 253px;
      background-image: url("../../assets/Decoration.svg");
      margin-bottom: 60px;
    }

    .form_container {
      background: $almost-white;
      height: 328px;
      width: 385px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      .form_el {
        display: flex;
        flex-direction: column;
        .label {
          color: $dark-grey;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 12px;
        }
        .inputText {
          width: 250px;
          background: none;
          border: none;
          border-bottom: 1px solid grey;
        }
        .inputText.error {
          border-bottom: 1px solid red;

        }
        small {
          margin-top: 5px;
          color: red;
          font-weight: 700;
        }
      }
    }
    .two_buttons {
      margin-top: 40px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .btn {
      cursor: pointer;
      text-decoration: none;
      color: $dark-grey;
      font-size: 18px;
      padding: 13px 15px;
      transition: 0.2s;
      border: 0.75px solid white;
    }
    .btn:hover {
      border: 0.75px solid $dark-grey;
      transform: scale(1.05);
    }
  }
}

@media (max-width: 660px) {
  .SignUp {
    .account_nav_container {
      margin-right: 20px;
      margin-top: 50px;
      .nav { display: none}
    }
    .SignUp_container {
      margin-top: 70px;
      .two_buttons {
        width: 385px;
      }
    }
  }
}
@media (max-width: 500px) {
  .SignUp {
    .SignUp_container {
      width: 100%;
      justify-content: center;
      align-items: center;
      .deco {
        width: 70%;
      }
      .form_container{
        width: 90%;
        .form_el {
          width: 80%;
          .label {
            align-self: flex-start;
          }
          .inputText {
            width: 100%;
          }
        }
      }
      .two_buttons {
        margin-top: 13px;
        width: 90%;
      }
    }
  }
}