@import "src/scss/main";

.HomeStatistics {
  justify-content: center;
  height: 384px;
  width: 100%;
  background-image: url("../../../assets/3 Columns Background@2x.png");
  background-size: cover  ;
}
.HomeStatistics_container {
  justify-content: space-between;
  display: flex;
  margin: 0 150px;
  .single_statistic {
    margin-top: 50px;
    height: 256px;
    width: 334px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .single_statistic_number {
    margin-bottom: 10px;
    color: $brown-text;
    font-size: 90px;
    font-weight: 300;
  }
  .single_statistic_title {
    letter-spacing: -0.36px;
    margin-bottom: 28px;
    color: $dark-grey;
    font-size: 18px;
    font-weight: 500;
  }
  .single_statistic_desc {
    color: $dark-grey;
    font-family: $font-alt;
    font-size: 16px;
    font-weight: 300;
  }
}