@import "src/scss/main";

.HomeAboutUs {
  height: 100vh;
  background-color: $almost-white;
  display: flex;
  .left_side {
    height: 100%;
    width: 50%;
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 200px 150px;
      .title {
        font-size: 38px;
        color: $dark-grey;
        margin-bottom: 26px;
      }
      .deco {
        height: 33px;
        width: 253px;
        background-image: url("../../../assets/Decoration.svg");
        margin-bottom: 55px;
      }
      .desc {
        font-size: 30px;
        text-align: center;
        line-height: 50px;
        margin-bottom: 40px;
      }
      .sign {
        align-self: flex-end;
        height: 149px;
        width: 210px;
        background-image: url("../../../assets/Signature.svg");
      }
    }

  }
  .right_side {
    height: 100%;
    width: 50%;
    background-size: cover;
    background-image: url("../../../assets/People.jpg");

  }
}
