
.HomeHeader .account_nav_container .account .user {
  text-decoration: none;
  color: #737373;
  padding: 18px 15px;
  font-size: 14px;
  transition: 0.2s;
  border: 0.75px solid white;
}





@media (max-width: 456px) {
  .HomeHeader .account_nav_container .account {
    flex-direction: column;
    .account_el {
      padding: 10px;
    }
  }
}