@import "src/scss/main";

.HomeHeader_logged {
  display: flex;
  gap: 90px;
  .left_side {
    width: 800px;
    height: 100vh;
    background-image: url("../../../assets/Home-Hero-Image.jpg");
    background-repeat: no-repeat;
    background-position: right ;
    background-size: cover;
  }
  .right_side {
    height: 100vh;
    width: 50%;
    .Home_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .Home_title {
    margin-top: 210px;
    display: flex;
    flex-direction: column;
    font-size: 38px;
    color: $dark-grey;
    text-align: center;
  }
  .Home_title_deco {
    margin-top: 25px;
    margin-bottom: 78px;
    height: 33px;
    width: 253px;
    background-image: url("../../../assets/Decoration.svg");
  }
  .Home_title_bottons {
    display: flex;
    gap: 20px;
  }
  .Home_title_single_botton {
    color: $dark-grey;
    text-decoration: none;
    font-weight: 300;
    width: 310px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center ;
    font-size: 36px;
    padding: 13px 0;
    border: 0.75px solid $dark-grey;
    transition: 0.2s;

  }
  .Home_title_single_botton:hover {
    transform: scale(1.05);

  }


  .account_nav_container{
    white-space: nowrap;
    margin-right: 50px;
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    .account {
      display: flex;
      align-self: flex-end;
      .account_el {
        text-decoration: none;
        color: $light-grey;
        padding: 18px 15px;
        font-size: 14px;
        transition: 0.2s;
        border: 0.75px solid white;
        cursor: pointer;
      }
      .user {
        font-weight: bold;
      }
      .account_el:hover {
        border: 0.75px solid $my-yellow;
        transform: scale(1.05);
      }
    }
    .nav {
      display: flex;
      align-self: flex-end;

      .nav_el {
        color: $dark-grey;
        font-size: 18px;
        padding: 21px 15px;
        transition: 0.2s;
        border: 0.75px solid white;
        cursor: pointer;


      }
      .nav_el:hover {
        border: 0.75px solid $dark-grey;
        transform: scale(1.05);
      }
    }
  }

}