@import "src/scss/main";


.Fonds {
  display: flex;
  flex-direction: column;
  align-items: center;
  .content_desc {
    text-align: center;
    font-size: 22px;
    color: $dark-grey;
    width: 640px;
    margin-bottom: 66px;
  }
  .pages {
    display: flex;
    gap: 10px;
    .page {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 13px 15px;
      font-size: 18px;
      color: $dark-grey;
      border: 0.75px solid white;
    }
    .page:hover {
      border: 0.75px solid #707070;
    }
    .page1 {
      border: 0.75px solid #707070;
    }
    .page2 {
      border: 0.75px solid #707070;
    }
    .page3 {
      border: 0.75px solid #707070;
    }
  }
}

