@import "src/scss/main";


.Page3 {
  .list {
    width: 1344px;
    margin-bottom: 63px;
    .list_el {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #707070;
      margin-bottom: 34px;
      .left_side {
        display: flex;
        flex-direction: column;
        margin-bottom: 31px;
        .list_title {
          font-size: 26px;
          font-family: $font-alt;
          font-weight: 300;
          margin-bottom: 5px;
        }
        .desc {
          font-style: italic;
          font-size: 18px;
          font-family: $font-alt;
          font-weight: 300;
        }
      }
      .right_side {
        font-size: 18px;
        font-family: $font-alt;
        font-weight: 300;
        margin-bottom: 31px;
        color: $dark-grey;
      }
    }
  }
}

