@import "src/scss/main";

.HomeContact {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .background {
    background-image: url("../../../assets/Background-Contact-Form.jpg");
    height: 110vh;
    width: 100%;
    //opacity: 0.6;
    //background-size: cover;
    //background-position: right;
    //background-repeat: no-repeat;
    //z-index: 1;
    //display: flex;
    position: absolute;
    right: 0;
    background-position: right;
    background-size: cover;
    //width: 100vw;
    //height: 100vh;
    z-index: -1;
    opacity: 50%;


  }
  position: relative;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 100px;
      .content_form {
        display: flex;
        flex-direction: column;
        width: 500px;
      }
      .title {
        font-size: 38px;
        color: $dark-grey;
        margin-bottom: 26px;
      }
      .deco {
        height: 33px;
        width: 253px;
        background-image: url("../../../assets/Decoration.svg");
        margin-bottom: 55px;
      }
      .inputs_row {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .input {
        display: flex;
        flex-direction: column;
        .label {
          text-align: left;
          color: $dark-grey;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 12px;
        }
        .inputText {
          width: 230px;
          background: none;
          border: none;
          border-bottom: 1px solid grey;
        }
        .inputText::placeholder {
          color: #535353
        }
        .inputText.error {
          border-bottom: 1px solid red;

        }
        small {
          text-align: left;
          margin-top: 5px;
          color: red;
          font-weight: 700;
        }
        textarea {
          background: none;
          border: none;
          border-bottom: 1px solid grey;
          width: 100%;
          height: 100px;
          resize: none;
        }
        textarea.error {
          border-bottom: 1px solid red;
        }
      }
      .textarea {
        width: 100%;
        margin-top: 20px;
      }
      button {
        cursor: pointer;
        align-self: flex-end;
        margin-top: 40px;
        background: none;
        padding: 13px 50px;
        border: 0.75px solid $dark-grey;
        transition: 0.2s;

      }
      button:hover {
        transform: scale(1.05);
      }


  }


}
.footer{
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  width: 100%;
  margin-left: -50px;
  .container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .two_pictos {
      display: flex;
      .fb {
        background-image: url("../../../assets/Facebook.svg");
        height: 30px;
        width: 30px;
      }
      .ig {
        background-image: url("../../../assets/Instagram.svg");
        height: 30px;
        width: 30px;
        margin-left: 20px;
      }
    }
    .copy {
      display: flex;
      font-size: 18px;
    }
  }


}
