@import "src/scss/main";

.step {
  .yellow_guy{
    height: 180px;
    background: $my-yellow;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .title{
      margin-left: 142px;
      margin-bottom: 5px;
      font-size: 36px;
      font-weight: 600;
    }
    .title_desc{
      max-width: 1213px;
      margin-left: 142px;
      font-size: 22px;
      font-weight: 400;
    }
  }
  .form {
    height: 883px;
    background-image: url("../../assets/Background-Form.jpg");
    background-repeat: no-repeat;
    background-position: left ;
    background-size: cover;
    position: relative;

    .container{
      position: absolute;
      margin-top: 36px;
      margin-left: 142px;
      .step_count {
        font-size: 24px;
        font-weight: 300;
        color: $dark-grey;
        margin-bottom: 70px;
      }
      .title {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 40px;
      }
      .small_title {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 600;

      }
      .form_line {
        display: flex;
        align-items: center;
        margin-bottom: 42px;
        .square{
          appearance: none;
          margin-right: 30px;
          height: 40px;
          min-width: 40px;
          border: 0.75px solid $dark-grey;
        }
        .picto {
          background-image: url("../../assets/Icon-1.svg");
          height: 50px;
          width: 50px;
          background-size: cover;
          margin-right: 19px;
        }
        .picto2 {
          background-image: url("../../assets/Icon-4.svg");
          height: 50px;
          width: 50px;
          background-size: cover;
          margin-right: 19px;
        }
        .square:checked {
          background-color: $my-yellow;
        }
        .desc{
          font-size: 24px;
          font-weight: 300;
        }
      }
      .form_line6 {
        align-items: center;
        .desc{
          align-items: center;
          font-size: 24px;
          font-weight: 300;
          display: flex;
          .bags {
            margin-right: 20px;
          }

        }
      }
      .last1 {
        margin-bottom: 150px;
      }
      .form_line2 {
        display: flex;
        gap: 26px;
        align-items: center;
        margin-bottom: 468px;
        .desc {
          font-size: 24px;
          font-weight: 300;
        }
        .inputSelect {
          //appearance: none;
          background: none;
          width: 200px;
          height: 50px;
          border: 0.75px solid $dark-grey;
        }
      }
      .form_line3{
        display: flex;
        gap: 24px;
        margin-bottom: 24px;
        .square2 {
          font-size: 24px;
          font-weight: 300;
          padding: 11px 26px;
          border: 0.75px solid $dark-grey;
          cursor: pointer;
          transition: 0.2s;
          user-select: none;
        }
        .selected {
          background-color: $my-yellow;
        }
      }
      .cont_in_cont {
        display: flex;
        max-width: 1200px;
        justify-content: space-between;
      }
      .form_line4 {
        width: 392px;
        .form_line4_row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 24px;
          .desc {
            font-size: 24px;
            font-weight: 300;
          }
        }
      }
      .last4 {
        margin-bottom: 130px;
      }
      .form_line5 {
        margin-bottom: 30px;
        div {
          display: flex;
        }

        .col {
          display: flex;
          flex-direction: column;

        }
        .col2 {
          margin-left: 40px;
          min-width: 200px;
          margin-right: 10px;
        }
        .desc {
          max-width: 300px;
          font-size: 24px;
          font-weight: 300;
          margin-bottom: 35px;
        }

      }
      .error {
        color: red;
        font-size: 18px;
        margin-bottom: 20px;
      }
      .buttonts{
        align-self: flex-end;
        display: flex;
        gap: 50px;
      }
      .inputSelect {
        font-size: 24px;
        //appearance: none;
        padding: 0 15px;
        background: none;
        width: 200px;
        height: 50px;
        border: 0.75px solid $dark-grey;
      }
      .step3{
        margin-top: 50px;
      }
      .inputText_long {
        margin-bottom: 104px;
        width: 570px;
        height: 40px;
        background: none;
        border: 0.75px solid $dark-grey;
      }
      .inputText {
        padding: 0 10px;
        min-width: 250px;
        height: 40px;
        background: none;
        border: 0.75px solid $dark-grey;
      }
      .inputText_high {
        resize: none;
        padding: 10px 10px;
        min-width: 250px;
        height: 123px;
        background: none;
        border: 0.75px solid $dark-grey;
      }
      .btn {
        //margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 23px 52px;
        font-size: 24px;
        font-weight: 300;
        border: 0.75px solid $dark-grey;
        transition: 0.2s;
      }
      .btn:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }
  .thank_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      margin: 0 25px;
      font-weight: 300;
      max-width: 700px;
      font-size: 40px;
      text-align: center;
      margin-bottom: 25px;
      line-height: 55px;
    }
    .deco {
      height: 33px;
      width: 253px;
      background-image: url("../../assets/Decoration.svg");
    }
  }
}
@media (max-width: 1051px) {
  .step {
    .yellow_guy {
      .title {
        margin-left: 50px;
      }
      .title_desc {
        margin-left: 50px;
        margin-right: 20px ;
      }
    }
    .form {
      .container {
        margin-left: 50px;
      }
    }
  }
}
@media (max-width: 720px) {
  .OddajRzeczy{
    .HomeContact {
      height: 100vh;
    }
  }
}
//@media (max-width: 609px) {
//  .OddajRzeczy{
//    .step {
//      .back5 {
//        height: 155vh;
//        .container {
//          .cont_in_cont {
//            flex-direction: column;
//          }
//        }
//        }
//      }
//  }
//}
@media (max-width: 757px) {
  .OddajRzeczy .step .back5 {
    height: 115vh;
    .container .cont_in_cont {
      flex-direction: column;
    }
  }
}
@media (max-width: 550px) {
  .OddajRzeczy{
    .step {
      .back1 {
        height: 90vh;
      }
      .back2 {
        height: 100vh;
      }
      .back3 {
        height: 110vh;
      }
      .back4 {
        height: 135vh;
      }
      .back5 {
        height: 170vh;
        .buttonts {
          flex-direction: column;
          width: 68%;
        }
      }
      .form {
        .container {
          .title {
            margin-right: 0;
            margin-bottom: 10px;
          }
          .step_count {
            margin-bottom: 22px;
          }
          .form_line {
            margin: 38px 0;
          }
          .form_line2 {
            margin-top: 49px;
            margin-bottom: 388px;
          }
          .form_line3 {
            width: 270px;
            flex-wrap: wrap;
            flex-direction: column;
            margin-right: 2px;
          }
          .step3 {
            margin-top: 20px;
            //width: 70%;
          }
          .inputText_long {
            width: 77%;
            margin-bottom: 30px;
          }
          .last4 {
            flex-direction: column;
            margin-bottom: 40px;
          }
          .form_line4 {
            width: 100%;
          }
          .form_line4_row {
            width: 94%;
            .desc {
              margin-right: 5px;
            }
            .inputText {
              min-width: 182px;
            }
            .inputText_high {
              min-width: 182px;
            }
          }

          .form_line6 {
            .desc {
              max-width: 265px;
              display: block;
              flex-direction: column;
              .bags {
                margin-right: 0;
                margin-bottom: 15px;
              }
            }
          }
          .cont_in_cont {
            .form_line5 {
              div {
                .col2 {
                  .delivery {
                    width: 145px;
                  }
                }
              }
            }
            .col {
              //width: 143px;
            }
            .desc {
              font-size: 20px;
              word-wrap: break-word;
            }
          }
          .buttonts {
            gap: 10px;
            .btn {
              padding: 15px 34px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 455px) {
  .step {
    .yellow_guy {
      .title {
        margin-left: 25px;
        font-size: 28px;
      }
      .title_desc {
        margin-left: 25px;
        font-size: 19px;
      }
    }
    .form {
      .container {
        margin-left: 25px;
        .title {
          width: 300px;
          margin-right: 20px;
          font-size: 28px;
        }
        .form_line2 {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }
}
